.ads-boxx{
    position: absolute;
    top: 36%;
    height: 10%;
    left: 8%;
    width: 84%;
    border-radius: 20px;
    background-color: VAR(--MAIN_BLUE);
    
    outline: solid 2px rgba(126, 126, 126, 0.05);

}
.add-containerr{
    position: absolute;
    height:92%;
    width: 99%;
    border-radius:50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

  
    
    
    
   

}
.shop-add-picc2{
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  border-radius: 20px;
  
    
}


