.chat-box{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width :20%;
    min-width: 400px;
    background-color: var(--Light_BLUE);
    border:solid;
    border-color: var(--MAIN_BLUE);;
    height: 100%;
  
    justify-content: space-between;
    z-index: 99;
   
   
    
   




}

.upper-chat{
  
    
    background-color: var(--MAIN_BLUE);;
    margin-top: 10px;
    align-self: center;
    

    

    position: absolute;
    top: 70px;
    width: 94%;
    
    height: 120px;
    
    align-content: center;
    
    
    
    

}
.chat-title{
    font-size: 22px;
    color: rgb(0, 255, 194);
   
    
   
    text-align: center;
   



}
.body-chat{

    background-color: var(--MAIN_BLUE);;
    margin-top: 10px;
 

    margin-bottom: 0px;

    position: absolute;
   
    bottom: 190px;
    
    width: 94%;
    
    top: 200px;
   margin-left: 3%;
  
   
    align-content: center;

    


}
.lower-chat{
    display: flex;
    flex-direction: row;


    background-color: var(--MAIN_BLUE);;
    margin-top: 10px;
    align-self: center;
    

    

    position: absolute;
    bottom: 75px;
    width: 94%;
    
    
    height:105px;
    
}
.chat-container{
    position: relative;
    margin-left: 10px;
    
   
            align-self: center;
           
            background-color: var(--MAIN_BLUE);
            height: 96%;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: justify;
            padding-left: 10px;
            padding-right: 10px;
            direction: rtl;
            
    

    
   
    
}
.chat
{
    color: rgb(173, 173, 173);;
    direction:ltr;
}

.chat-bar{
    
    position:absolute;
    left: 5%;
    
    top: 13%;
    height: 38%;
    
    margin-left: 30px;
    right: 5%;
    

 
    font-size: 16px;
    background-color: var(--Light_BLUE);
    color: rgb(173, 173, 173);
   font-weight: 500;
    border: none;
    outline: none;


    font-family: poppins;
    
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    padding-left: 20px;
    
}

.chat-bar::placeholder{
    font-family: poppins;
    font-size: 16Px;
    padding-left: 8px;
    



}
.Send-button{
    position:absolute;
    background-color: var(--Light_BLUE);
    border:none;
    outline: none;
    height: 40%;
    top: 13%;
    right: 5%;
   
    
    
   
    

}
.Send-icon{
    width: 18px;
    padding-left: 40px;
    




}
.chat-line{
    display: flex;
    flex-direction: row;
    padding: 10px;


}
.chat-hadra{

    flex: 1;
    font-weight: 500;
    
   
}
.chat-user{
    
    padding-right: 10px;
    
    font-weight: 700;
    color: white;
}

.social-media{
    display: flex;
    flex-direction: row;
    
    
    position: absolute;
   
    bottom: 0;
    left: 3%;
    right: 3%;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;


    
    

}
.twitter-pic{
    

    width: 24PX;
    height: 24PX;
}
.discord-pic{

    width: 28px;
    height: 28Px;
    padding-bottom: 10px;
}
.instagram-pic{

    width: 28px;
    height: 28Px;
}
.facebook-pic{
    width: 28px;
    height: 28Px;
}
.twitter-button{
    background-color: var(--Light_BLUE);
    width: 28px;
    height: 28Px;
    border: none;
}
.discord-button{
    background-color: var(--Light_BLUE);
    width: 28px;
    height: 28Px;
    border: none;
}
.instagram-button{
    background-color: var(--Light_BLUE);
    width: 28px;
    height: 28Px;
    border: none;
}
.facebook-button{
    background-color: var(--Light_BLUE);
    width: 28px;
    height: 28Px;
    border: none;
}

.chat-bar-background{

    position:absolute;
    left: 5%;
    background-color: var(--Light_BLUE);
    
    top: 12%;
    height: 44%;
    
    margin-left: 30px;
    right: 5%;



}