:root {
    --MAIN_BLUE: rgb(0, 2, 18);
    --MAIN_GREEN: rgb(0, 255, 194);
    --2ND_BLUE: rgb(10, 12, 23);
    --ORANGE: rgb(255, 173, 78);
    --YELLOW: rgb(255, 199, 0);
    --GRAAAAAAY: rgb(173, 173, 173);
}