
p{
    font-family: poppins,Arial;
}
body{
   
background-color: #0A0C17;



}

html{ 
    zoom: 0.8; 
    -moz-transform: scale(0.8); 
    -moz-transform-origin: 0 0;
    scrollbar-width: normal;
    scrollbar-color:rgb(10, 12, 23) rgb(0, 2, 18); 
    overflow: auto;
    

} 

.header{


}

html::-webkit-scrollbar {
  width: 2vw;
 
  

}

html::-webkit-scrollbar-thumb{
background-color: rgba(0, 2, 18);


}

html::-webkit-scrollbar-thumb:hover{
  background-color: rgba(0, 2, 18,1);
  
  }


html::-webkit-scrollbar-thumb{
  background-color: rgba(10, 12, 23,0.5);



}
html::-webkit-scrollbar-thumb:hover{
  background-color: rgba(10, 12, 23,1);




}
.container{
    position:absolute;
    background-color: rgba(10, 12, 23,0);
    
    
    left: 28%;
    width: 64%;

    right: 10%;
    top: 80px;
    bottom: 0px;
    height: 2000px;
   
}



















    @media (max-width: 320px) {
        .container{
            zoom: 0.25; 
            -moz-transform: scale(0.25); 
            -moz-transform-origin: 0 0;}
            .header{
                zoom: 0.25; 
                -moz-transform: scale(0.2   5); 
                -moz-transform-origin: 0 0;}
                .chat-box{
                    zoom: 0.75; 
                    -moz-transform: scale(0.75); 
                    -moz-transform-origin: 0 0;}
        /* Styles for very small screens */
      }
      
      /* Small smartphones (landscape) */
      @media (min-width: 321px) and (max-width: 360px) {
        .container{
            zoom: 0.3; 
            -moz-transform: scale(0.3); 
            -moz-transform-origin: 0 0;}
            .header{
                zoom: 0.3; 
                -moz-transform: scale(0.3); 
                -moz-transform-origin: 0 0;}
                .chat-box{
                    zoom: 0.75; 
                    -moz-transform: scale(0.75); 
                    -moz-transform-origin: 0 0;}
        /* Styles for small screens in landscape */
      }
      
      /* Larger smartphones / small tablets (portrait) */
      @media (min-width: 361px) and (max-width: 480px)  {
        .container{
            zoom: 0.35; 
            -moz-transform: scale(0.35); 
            -moz-transform-origin: 0 0;}
            .header{
                zoom: 0.35; 
                -moz-transform: scale(0.35); 
                -moz-transform-origin: 0 0;}
                .chat-box{
                    zoom: 0.75; 
                    -moz-transform: scale(0.75); 
                    -moz-transform-origin: 0 0;}
        /* Styles for slightly larger screens */
      }
      
      /* Tablets (portrait) / small tablets (landscape) */
      @media (min-width: 481px) and (max-width: 600px) {
        .container{
            zoom: 0.4; 
            -moz-transform: scale(0.4); 
            -moz-transform-origin: 0 0;}
            .header{ zoom: 0.4; 
                -moz-transform: scale(0.4); 
                -moz-transform-origin: 0 0}
                .chat-box{
                    zoom: 0.75; 
                    -moz-transform: scale(0.75); 
                    -moz-transform-origin: 0 0;}
        /* Styles for medium-sized screens */
      }
      
      /* Tablets (landscape) / small desktops */
      @media (min-width: 601px) and (max-width: 768px) {
        .container{
            zoom: 0.45; 
            -moz-transform: scale(0.45); 
            -moz-transform-origin: 0 0;}
            .header{  zoom: 0.45; 
                -moz-transform: scale(0.45); 
                -moz-transform-origin: 0 0;}
                .chat-box{
                    zoom: 0.75; 
                    -moz-transform: scale(0.75); 
                    -moz-transform-origin: 0 0;}
        /* Styles for tablets in landscape */
      }
      
      /* Larger tablets / small desktops */
      @media (min-width: 769px) and (max-width: 800px) {
        .container{
            zoom: 0.5; 
            -moz-transform: scale(0.5); 
            -moz-transform-origin: 0 0;}
            .header{ zoom: 0.5; 
                -moz-transform: scale(0.5); 
                -moz-transform-origin: 0 0;}
                .chat-box{
                    zoom: 0.75; 
                    -moz-transform: scale(0.75); 
                    -moz-transform-origin: 0 0;}
        /* Styles for larger tablets or small desktops */
      }
      
      /* Small desktops / large tablets */
      @media (min-width: 801px) and (max-width: 900px) {
        .container{
            zoom: 0.55; 
            -moz-transform: scale(0.55); 
            -moz-transform-origin: 0 0;}
        .header{ zoom: 0.55; 
            -moz-transform: scale(0.55); 
            -moz-transform-origin: 0 0;}
            .chat-box{
                zoom: 0.75; 
                -moz-transform: scale(0.75); 
                -moz-transform-origin: 0 0;}
                
    
    }
        /* Styles for small desktops */
      
      
      /* Desktops / tablets in landscape */
      @media (min-width: 901px) and (max-width: 1024px) {
        .container{
            zoom: 0.6; 
            -moz-transform: scale(0.6); 
            -moz-transform-origin: 0 0;}
            .header{  zoom: 0.6; 
                -moz-transform: scale(0.6); 
                -moz-transform-origin: 0 0;}
                .chat-box{
                    zoom: 0.75; 
                    -moz-transform: scale(0.75); 
                    -moz-transform-origin: 0 0;}
        }
        /* Styles for standard desktops */
      
      
      /* Larger desktops / high-res tablets */
      @media (min-width: 1025px) and (max-width: 1280px) {
        .container{
            zoom: 0.65; 
            -moz-transform: scale(0.65); 
            -moz-transform-origin: 0 0;}
            .header{zoom: 0.65; 
                -moz-transform: scale(0.65); 
                -moz-transform-origin: 0 0;}
            .chat-box{zoom: 0.75; 
                    -moz-transform: scale(0.75); 
                    -moz-transform-origin: 0 0;}
        }
        /* Styles for larger desktops */
      
      
      /* Medium to large desktops */
      @media (min-width: 1281px) and (max-width: 1366px) {
        .container{
            zoom: 0.7; 
            -moz-transform: scale(0.7); 
            -moz-transform-origin: 0 0;}
            .header{ zoom: 0.7; 
                -moz-transform: scale(0.7); 
                -moz-transform-origin: 0 0;}
                .chat-box{
                    zoom: 0.75; 
                    -moz-transform: scale(0.75); 
                    -moz-transform-origin: 0 0;}
        }
        /* Styles for medium to large desktops */
         /* Standard desktops / large tablets */
     
      
      
      /* Standard desktops / large tablets */
      @media (min-width: 1367px) and (max-width: 1440px) {
        .container{
            zoom: 0.75; 
            -moz-transform: scale(0.75); 
            -moz-transform-origin: 0 0;}
            .header{  zoom: 0.75; 
                -moz-transform: scale(0.75); 
                -moz-transform-origin: 0 0;}
            .chat-box{
                zoom: 0.75; 
                -moz-transform: scale(0.75); 
                -moz-transform-origin: 0 0;}
        }
        /* Styles for standard desktops */
      
      
      /* Common laptop resolution */
      @media (min-width: 1441px) and (max-width: 1600px) {
        .container{
            zoom: 0.8; 
            -moz-transform: scale(0.8); 
            -moz-transform-origin: 0 0;}
            .header{ zoom: 0.8; 
                -moz-transform: scale(0.8); 
                -moz-transform-origin: 0 0;}
                .chat-box{
                    zoom: 0.75; 
                    -moz-transform: scale(0.75); 
                    -moz-transform-origin: 0 0;}
        }
    
        /* Styles for common laptop screens */
      
      
      /* Large desktops / high-res monitors */
      @media (min-width: 1601px) and (max-width: 1680px) {
        .container{ 
            zoom: 0.85; 
            -moz-transform: scale(0.85); 
            -moz-transform-origin: 0 0;}
            .header{   zoom: 0.85; 
                -moz-transform: scale(0.85); 
                -moz-transform-origin: 0 0;}
        }
    
        /* Styles for large desktops */
      
      
      /* Extra-large desktops / high-res screens */
      @media (min-width: 1681px) and (max-width: 1920px) {
        .container{
    
            zoom: 0.9; 
            -moz-transform: scale(0.9); 
            -moz-transform-origin: 0 0;}
            .header{zoom: 0.9; 
                -moz-transform: scale(0.9); 
                -moz-transform-origin: 0 0;}
        /* Styles for extra-large screens */
      }
      
      /* Extra-large desktops / large monitors */
      @media (min-width: 1921px) and (max-width: 2560px) {
        .container{
            zoom: 0.95; 
            -moz-transform: scale(0.95); 
            -moz-transform-origin: 0 0;}
            .header{zoom: 0.95; 
                -moz-transform: scale(0.95); 
                -moz-transform-origin: 0 0;}
        /* Styles for extra-large desktops */
      }
      
      /* Full HD screens and larger */
      @media (min-width: 2561px) {
        .container{
            zoom: 1; 
        -moz-transform: scale(1); 
        -moz-transform-origin: 0 0; 
         
    }
    .header { zoom: 1; 
        -moz-transform: scale(1); 
        -moz-transform-origin: 0 0;}
    
        /* Styles for very large screens */
      }