.stream-box{
position: absolute;
    
background-color: rgba(0, 2, 18, 1);
width: 100%;
height: 36%;

display:grid;
grid-template-columns: 86% 20%;
top: 5%;
border-radius: 20px;


}
.side-strea-box{
    position: absolute;
    
background-color: rgb(0, 2, 18);

left: 0%;
height: 38%;
width: 10%;

display:grid;
grid-template-columns: 1280px 300px;
top: 5%;
border-radius: 20px;





}
.side-strea-box2{
    position: absolute;
    
background-color: rgba(0, 2, 18,0);

right: 0%;
height: 38%;
width: 20%;

display:grid;
grid-template-columns: 1280px 300px;
top: 5%;
border-radius: 20px;
z-index: 0;





}
.stream{
    position: relative;
    width: 90%;
    height: 90%;
    top: 3%;
    left: 2%;
    border-radius: 20px;
    
    
    
    
    
    
 
   


}
.chanel-panel{
    zoom: 0.8; 
    -moz-transform: scale(0.8); 
    -moz-transform-origin: 0 0;
    align-items: center;
    margin-left: 4%;
    position: relative;
    background-color:rgb(10, 12, 23); 
    width: 80%;
    height: 90%;
    border-radius: 25px;
   
    right: 28%;
    top:4%;
   
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
  
    



}
.chanel-type{
    font-size: 24px;
    font-family: poppins;
    font-weight: 500;
    color: rgb(173, 173, 173);
    padding-top: 20px;
    padding-bottom: 8px;
    text-align: center;
    height: 44px;
    
  
   
   
    
 


}
.chanel-list{
    position: relative;
    
   
  
   
   

    width: 300px;
    height: 680px;
  


}

.chanel-box{
   
    margin-bottom: -20px;
    
    position: relative;
    
    
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 80px 1fr 60px;
    margin-top: 30px;
    
   
    
 
   
}
.chanel-box-profile{
height: 100%;


}

.chanel-box-text{
    display: grid;
    grid-template-rows: 1fr 1fr;
 
    height: 100%;

}

.chanel-box-sepcial{
    height: 100%;
    align-content: center;
    


}
.eclipse-pic{
    height: 8px;
    width: 8px;
    


}
.eclipse-pic2{
    height: 8px;
    width: 8px;
    


}
.name{
    padding-top: 10px;
   margin-bottom: -10px;
    font-size: 18px;
    font-weight: 600;
    color: ;
    padding-left: 16px;
    text-align: start;
    padding-bottom: 0px;
    color: rgb(0, 255, 194);
   



}

.name2{
    padding-top: 10px;
   margin-bottom: -10px;
    font-size: 18px;
    font-weight: 600;
    color: ;
    padding-left: 16px;
    text-align: start;
    padding-bottom: 0px;
    color: rgb(173, 173, 173);
   



}
.viewers{
    margin-top: 0x;
    
    padding-top: 0px;
    color: rgb(173, 173, 173);
    padding-left: 16px;
    align-self: top;
    text-align: start;
    font-size: 16px
    
}
.chanel-pfp{
 
    
height: 60px;
width: 60px;
border-radius: 50%;
margin-left: 20px;
padding-top: 0px;
margin-top: 10px;


outline:2px  solid rgb(0, 255, 194);


}
.chanel-pfp2{
 
    
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 20px;
    padding-top: 0px;
    margin-top: 10px;
    
    
    outline:2px  solid rgb(173, 173, 173);
    
    }
    .viewer-count{
        
        position: absolute;
        width: 90px;
        height: 30px;
       
        bottom: -30px;
        left: 2%;
        color: rgb(173, 173, 173);
        font-family: poppins;
        text-align: center;




    }

    .eye-icon{
        position: absolute;
        width: 24px;
        padding-top: 10px;
        left: 0px;
        margin-right: 0px;
        top: -6px;
       
       

        

       
    }
    .viewer-number{
        margin-left: 0px;
        position: absolute;
        right:0px;
        top:1px;
        font-family: poppins;
        font-weight: 700;
        font-size: 18px;
        
        

    }
 
